.App {
  text-align: center;
  font-family: "Anton", sans-serif;
  background: #f3f3f3;
}

/* header */

.my-header {
  background: #6fcf97;
  height: 50px;
}
.section {
  height: 50px;
  width: 70%;
  display: flex;
  font-size: 12px;
  color: #4f4f4f;
  justify-content: space-around;
  line-height: 50px;
}

.myImage {
  width: 80px;
  height: 80px;
  border: 4px solid #6fcf97;
  position: relative;
  top: 15px;
}

.section-item.active-color {
  color: #f3f3f3;
}

/* About me */
.about-wrap {
  padding: 0 30px;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4f4f4f;
}

.about-title {
  font-size: 24px;
}

.about-wrap span {
  color: #6fcf97;
}

.sub-title {
  color: #8f8f8f;
  font-size: 14px;
}

.about-main {
  font-size: 12px;
  text-align: left;
}

.icons-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icons-section a {
  width: 25px;
  font-size: 10px;
  color: #4f4f4f;
}

/* skills*/
.skill-wrap {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4f4f4f;
}

.skill-title {
  font-size: 24px;
}

.skill-title span {
  color: #0567eb;
}

.skill-items {
  padding: 0 30px;
  font-size: 12px;
}

.skill-itmes-row {
  display: flex;
  justify-content: center;
}

.skill-item {
  color: #f3f3f3;
  background: #0567eb;
  padding: 5px;
  border-radius: 5px;
}

/* project */

.project-wrap {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4f4f4f;
}

.project-subWrap {
  margin: 40px 0;
}

.project-title {
  font-size: 24px;
}

.project-wrap span {
  color: #f2994a;
}

.project-items-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.project-item {
  width: 90%;
  height: 200px;
  position: relative;
  border: 1px solid #f2994a;
}

.project-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.project-item img {
  width: 100%;
  height: 100%;
}

.project-item p {
  color: #f3f3f3;
  font-size: 11px;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

/* contact */
.contact-wrap {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-title {
  font-size: 24px;
}

.contact-wrap span {
  color: #f2c94c;
}

.contactForm input {
  width: 200px;
  margin: 5px auto;
  font-size: 11px;
}

.contactForm textarea {
  font-size: 12px;
}

.contactForm button {
  background: #f2c94c;
  float: right;
}

/* responsive design */

@media (min-width: 576px) {
  .section-item:hover {
    color: #f3f3f3;
  }
}
